@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    max-width: 1600px;
}

.header__container {
    position: relative;
    width: 100%;
    max-width: 1266px;
    margin: auto;
    padding-top: 56px;
}

.nav__container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: inline-block;
    width: 100%;
    max-width: 545px;
}

.nav__item {
    padding-left: 25px;
    color: #1F1534;
    opacity: 0.5;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.nav__item:hover {
    transition: 0.2s linear;
    opacity: 1;
}

.nav__item:first-child {
    padding-left: 0;
}

.header__text {
    max-width: 445px;
    width: 100%;
    margin-top: 283px;
}

.header__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.header__span {
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
}

.header__btn {
    margin-top: 40px;
    display: block;
    width: 200px;
    height: 60px;
    color: #fff;
    background-color: #458FF6;
    text-align: center;
    border-radius: 40px;
    line-height: 60px;
}

.header__btn:hover {
    background-color: #000;
    transition: 0.2s linear;
}

.header__img {
    width: 693px;
    height: 598px;
    margin-top: 177px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.services {
    width: 100%;
    max-width: 1600px;
    margin-top: 190px;
    background: url(./img/services-bg.jpg) no-repeat;
}

.services__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
}

.services hr {
    width: 56px;
    height: 2px;
    background-color: #000000;
}

.services__text {
    width: 950px;
    text-align: center;
    margin: auto;
    margin-top: 33px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #7D7987;
}

.services__container {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    margin-top: 83px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 34px;
    row-gap: 37px;
}

.services__item {
    width: 350px;
    height: 354px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.services__item img {
    padding-left: 39px;
    width: 98px;
    height: 90px;
    padding-top: 54px;
}

.services__item h4 {
    font-size: 24px;
    font-weight: 700;
    padding-top: 15px;
    padding-left: 39px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.services__item span {
    width: 265px;
    color: #7D7987;
    font-size: 16px;
    font-weight: 300;
    padding-left: 39px;
    padding-top: 0;
    margin-top: 20px;
    line-height: 28px;
}

.btn {
    width: 50%;
    display: block;
    width: 200px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    margin: 0 auto;
    margin-top: 69px;
    color: #458FF6;
    font-weight: 700;
    font-size: 18px;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
}

.btn:hover {
    background-color: black;
    color: #fff;
    border-color: #fff;
    transition: 0.4s ease;
}

.healthcare__container {
    width: 100%;
    max-width: 1273px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 220px;
    align-items: center;
}

.healthcare__img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.healthcare__text {
    width: 100%;
    max-width: 486px;
    height: 388px;
}

.healthcare__title {
    font-size: 36px;
    line-height: 56px;
    font-weight: 700;
    max-width: 481px;
    margin-top: 0;
}

.healthcare__title::after {
    content: " ";
    border: 1px solid black;
    margin-top: 31px;
    margin-bottom: 15px;
    display: block;
    max-width: 56px;
}

.healthcare__text p {
    width: 100%;
    font-weight: 300;
    font-size: 18px;
    color: #7D7987;
    max-width: 400px;
    line-height: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}

.healthcare__text .btn {
    float: left;
    margin-top: 37px;
}

.download__container {
    width: 100%;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-top: 230px;
}

.download__text {
    width: 100%;
    max-width: 405px;
}

.download__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

.download__title::after {
    content: " ";
    border: 1px solid black;
    display: block;
    max-width: 54px;
    margin-top: 31px;
}

.download__paragraph {
    font-weight: 300;
    font-size: 18px;
    color: #7D7987;
    line-height: 30px;
    display: block;
    margin-top: -15px;
    padding-top: 0px;
}

.download__text .btn {
    margin: 30px 0 0 0;
    float: left;
}

.download__img {
    width: 100%;
    max-width: 642px;
    height: 100%;
    max-height: 419px;
    margin-right: 202px;
}

.slider__container {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    margin-top: 260px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

.slider__item {
    margin: auto;
    width: 100%;
    max-width: 884px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    align-items: center;
}

.slider__title {
    text-align: center;
    font-size: 36px;
    color: #fff;
    line-height: 48px;
    font-weight: 700;
}

.slider__title::after {
    content: " ";
    border: 1px solid #fff;
    display: block;
    max-width: 54px;
    margin: auto;
    margin-top: 31px;
    margin-bottom: 66px;
}

.slider__wrap {
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
}

.text__wrap {
    max-width: 184px;
    align-items: flex-start;
}

.text__wrap span {
    color: #fff;
}

.slider__wrap h5 {
    display: inline-block;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    margin-bottom: 0;
    padding-bottom: 0px;
    color: #fff;
    margin-left: 0;
}

.slider__item p {
    width: 420px;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
}

.articles__container {
    width: 100%;
    max-width: 1120px;
    text-align: center;
    margin: auto;
    margin-top: 220px;
}

.articles__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
}

.articles__title::after {
    content: " ";
    border: 1px solid #000;
    display: block;
    max-width: 54px;
    margin: auto;
    margin-top: 26px;
    margin-bottom: 70px;
}

.articles__wrap {
    width: 100%;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
}

.articles__item {
    max-width: 350px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    box-sizing: border-box;
}

.articles__text-wrap {
    max-width: 266px;
    margin: auto;
}

.articles__item-title {
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    margin-bottom: 12px;
    padding-bottom: 0;
}

.articles__item-paragraph {
    margin-top: 0;
    padding-top: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: #7D7987;
}

.item__img {
    width: 350px;
}

.articles__link {
    max-width: 266px;
    color: #4089ED;
    display: block;
    text-align: left;
    margin: auto;
    margin-top: 21px;
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 39px;
}

.articles__link::after {
    content: url('./img/arrow.svg');
    margin-left: 4px;
}

.articles__container .btn {
    margin-top: 69px;
    margin-bottom: 150px;
}

@media (max-width: 1400px) {
    .nav__container {
        width: 90%;
        max-width: 1000px;
        margin-left: 10%;
    }
    .header__wrapper {
        width: 80%;
        margin-left: 10%;
    }
    .healthcare__container {
        width: 90%;
        margin-left: 10%;
    }
    .healthcare__img {
        width: 60%;
    }
    .healthcare__text {
        width: 50%;
        margin-left: 10px;
    }
    .download__container {
        width: 95%;
        margin-left: 10%;
    }
}

@media (max-width: 1200px) {
    .nav__container {
        width: 90%;
        margin-left: 10%;
    }
    .header__container {
        width: 100%;
    }
    .header__wrapper {
        width: 90%;
        margin-left: 10%;
    }
    .healthcare__container {
        width: 100%;
        margin-left: 0;
    }
    .healthcare__img {
        width: 100%;
    }
    .healthcare__text {
        width: 70%;
        text-align: center;
    }
    .healthcare__title::after {
        display: none;
    }
    .download__container {
        margin-left: 10%;
    }
    .services__container {
        width: 90%;
        column-gap: 10px;
        row-gap: 10px;
    }
    .services__item {
        width: 90%;
    }
    .services__item h4 {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .services__item span {
        text-align: center;
        width: 100%;
        margin: 0px;
        padding: 0;
        margin-top: 10px;
    }
}

@media (max-width: 992px) {
    .btn {
        width: 50%;
    }
    .header__wrapper {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .header__text {
        width: 90%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .header__btn {
        margin: auto;
        width: 100%;
        margin-top: 50px;
    }
    .header__img {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .services__container {
        width: 100%;
        margin-left: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .services__text {
        width: 50%;
    }
    .services__item {
        width: 95%;
    }
    .healthcare__container {
        width: 100%;
        flex-direction: column;
        margin-top: 50px;
        margin: 0;
    }
    .healthcare__text {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .healthcare__title {
        margin-top: 50px;
        text-align: center;
    }
    .healthcare__title::after {
        display: none;
    }
    .healthcare__img {
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .healthcare__text p {
        width: 100%;
        max-width: 500px;
    }
    .healthcare__text .btn {
        width: 100%;
    }
    .download__container {
        margin: 0;
        margin-top: 50px;
        width: 100%;
        flex-direction: column;
    }
    .download__text {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .download__title {
        width: 450px;
        margin-top: 50px;
        width: 100%;
    }
    .download__title::after {
        display: none;
    }
    .download__paragraph {
        width: 100%;
        margin: auto;
    }
    .download__container .btn {
        width: 100%;
        margin-bottom: 50px;
    }
    .download__img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .slider__container {
        margin-top: 50px;
    }
    .articles__container {
        margin-top: 50px;
    }
    .articles__wrap {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .item__img {
        width: 100%;
    }
    .articles__item {
        width: 60%;
        margin-left: 10px;
    }
    @media (max-width:826px) {
        .nav__container {
            margin: 0;
            width: 100%;
        }
        .header__nav {
            display: none;
        }
        .header__logo {
            margin-left: auto;
            margin-right: auto;
        }
        .header__img {
            width: 50%;
            margin-right: 45%;
        }
        .header__text {
            margin-top: 100px;
        }
        .healthcare__img {
            width: 50%;
            margin-right: 40%;
        }
        .services {
            margin-top: 100px;
        }
    }
    @media (max-width:768px) {
        .header__img {
            display: none;
        }
        .healthcare__img {
            display: none;
        }
        .download__img {
            display: none;
        }
        .services__container {
            width: 90%;
            margin-left: 10%;
            row-gap: 5px;
            column-gap: 5px;
        }
        .services__item {
            width: 90%;
        }
        .articles__text-wrap p {
            display: none;
        }
        .articles__item-title {
            font-size: 20px;
        }
        .slider__item {
            flex-direction: column;
        }
        .slider__title::after {
            display: none;
        }
        .slider__item p {
            width: 100%;
            text-align: center;
        }
    }
    @media (max-width:480px) {
        .services__item {
            height: auto;
        }
        .services__item h4 {
            font-size: 20px;
            margin-bottom: 20px;
        }
        .services__item span {
            display: none;
        }
        .articles__wrap {
            flex-direction: column;
            width: 100%;
        }
        .articles__item {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        .articles__item-title {
            margin-top: 0;
        }
    }
}